[MASTER]
reports=no
extension-pkg-whitelist=netifaces

[MESSAGES CONTROL]
disable=duplicate-code,fixme,locally-disabled

[REPORTS]
output-format=colorized

[FORMAT]
indent-string='    '
max-line-length=150
