os: linux
dist: xenial
language: python

jobs:
  include:
    - python: "3.8"
      env: TOXENV=pylint
    - python: "3.8"
      env: TOXENV=lint
    - python: "3.7"
      env: TOXENV=py37
    - python: "3.8"
      env: TOXENV=py38
    - python: "3.9"
      env: TOXENV=py39
      after_success: coveralls

cache:
  directories:
    - $HOME/.cache/pip
# command to install dependencies
install: "pip install -r requirements/testing.txt"
script: travis_wait tox
